.navBar {
  display: flex;
  align-items: right;
  justify-content: center;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  background: none;
}

.navLink {
  position:relative;
  font-size: 28px;
  line-height: 28px;
  padding: 0.2rem 1rem;
  background: none;
  width: auto;
  :hover {
    text-decoration: underline;
  }
}


